*.class

.CFUserTextEncoding
.zcompdump
.tig_history
.DS_STORE
.bash_aliases
.bash_history
.bash_profile
.config/ranger/bookmarks
.config/ranger/history
.lesshst
.octave_hist
.profile
.python_history
.scala_history
.vim/.netrwhist
.viminfo
.zsh_history

.IntelliJIdea14/
.Trash/
.activator/
.android/
.aws/
.bash_sessions/
.boot2docker/
.cabal/
.cargo/
.cache/
.config/NetHack4/
.config/filezilla/
.cups/
.dropbox/
.rustup/
.gem/
.ghc/
.gradle/caches/
.ivy2/
.pip/
.sbt/
.ssh/
.swt/
.w3m/
.vim/.netrwhist

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Pictures/
Public/
Music/
VirtualBox VMs/
scratch/
compile-cache/
priv/
quicklisp/
